langgraph
langchain
langchain-community
openai
pydantic
python-dotenv
fastapi
transformers
huggingface-hub
langchain_openai


streamlit
pypdf

langchain-huggingface
transformers
huggingface-hub
sentence-transformers
requests
