langgraph
langchain
langchain-community
openai
pydantic
python-dotenv
fastapi

langchain_openai
uuid


streamlit
pypdf

langchain-huggingface
# transformers
# huggingface-hub
# sentence-transformers
requests
